.env
node_modules
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.dev
.env.mainnet
.env.testnet
.env.devnet.local
.env.mainnet.local
.env.testnet.local
out/
dependencies/
cache/
node_modules/